<ion-view view-title="企业">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list">
            <a class="item item-thumbnail-left rect-pic multi-line-sub-title" href="#/app/target-detail">
                <img src="img/item-2.jpg">
                <h2>小城故事</h2>
                <p>新鲜果蔬、日常用品新鲜果蔬、日常用品新鲜果蔬、日常用品新鲜果蔬、日常用品新鲜果蔬、日常用品新鲜果蔬、日常用品、日常用品新鲜果蔬、日常用品</p>
            </a>

        </div>

        <div class="nicky-center">
            <ion-spinner icon="bubbles"/>
        </div>
        <!--<div ng-controller="ctr1">
            <button ng-click="showActionsheet()">action</button>
        </div>-->


    </ion-content>

</ion-view>