<ion-view view-title="我的钱包">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
                    <a menu-close href="#" class="item item-icon-left">
                        <i class="icon ion-social-yen"></i>
                        余额
                        <span class="item-note out-stand-title"><span>60</span><span>元</span></span>
                    </a>

                </div>
            </div>
        </div>

        <div class="card">
            <div class="item item-text-wrap">
                <div class="list">
                    <a menu-close href="#" class="item item-icon-left">
                        <i class="icon ion-card"></i>
                        积分
                        <span class="item-note out-stand-title"><span>300</span><span>积分</span></span>
                    </a>
                    <a class="item item-icon-left" href="#">
                        小城故事
                        <span class="item-note out-stand-title"><span>60</span><span>积分</span></span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        Call Ma
                        <span class="item-note out-stand-title"><span>60</span><span>积分</span></span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        Record album
                        <span class="item-note out-stand-title"><span>60</span><span>积分</span></span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        Friends
                        <span class="item-note out-stand-title"><span>60</span><span>积分</span></span>
                    </a>

                </div>
            </div>
        </div>


    </ion-content>
</ion-view>