<ion-view view-title="详情">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-share" ng-click="showActionsheet()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="mine-top">
            <img src="img/ing-1.jpg" class="mine-shop-pic">
        </div>
        <div class="mine-summary">
            <div class="concern-btn">加关注</div>
            <p class="shop-title">小城故事</p>
            <ul class="shop-summary">
                <li class="shop-info">经营品类：</li>
                <span style="color:black;">新鲜果蔬、日常用品</span>
                </br>
                <li class="shop-info">营业时间：</li>
                <span style="color:black;">早8:00 - 晚9:00</span>
                </br>
                <li class="shop-info">联系电话：</li>
                <span style="color:black;">13877776666</span>
                </br>
                <li class="shop-info">店铺地址：</li>
                <span style="color:black;">临沂市小城故事（高新区店）</span>
                </br>
            </ul>
        </div>
        <div class="separate-line10"></div>
        <div class="target-area">
            <div class="concern-btn">领任务</div>
            <div class="target-info">
                <div>任务描述：</div>
                <div>点击右上角分享按钮，转发朋友圈、新浪微博。</div>
                <div>任务奖励：</div>
                <div>3分专用积分</div>
            </div>
        </div>
        <div class="separate-line10 no-border-bottom"></div>
        <div class="list">
            <a class="item item-thumbnail-left rect-pic multi-line-sub-title" href="#">
                <img src="img/item-1.png">

                <h2>多功能电热锅多功能电热锅多功能电热锅多功能电热锅</h2>

                <div class="sub-title1">
                    <span>现金价：</span>
                    <span>8.0¥</span>
                </div>
                <div class="sub-title2">
                    <span>积分价：</span>
                    <span>8积分</span>
                </div>
            </a>
            <a class="item item-thumbnail-left rect-pic multi-line-sub-title" href="#">
                <img src="img/item-1.png">

                <h2>多功能电热锅多功能电热锅多功能电热锅多功能电热锅</h2>

                <div class="sub-title1">
                    <span>现金价：</span>
                    <span>8.0¥</span>
                </div>
                <div class="sub-title2">
                    <span>积分价：</span>
                    <span>8积分</span>
                </div>
            </a>
            <a class="item item-thumbnail-left rect-pic multi-line-sub-title" href="#">
                <img src="img/item-1.png">

                <h2>多功能电热锅多功能电热锅多功能电热锅多功能电热锅</h2>

                <div class="sub-title1">
                    <span>现金价：</span>
                    <span>8.0¥</span>
                </div>
                <div class="sub-title2">
                    <span>积分价：</span>
                    <span>8积分</span>
                </div>
            </a>

        </div>
    </ion-content>
</ion-view>
